.cake
  .cake__space
  .cake__title
    ______Wedding Cake______
    .cake__title__text
      特別な日をさらにトクベツに
      %br
      お二人の想いをオリジナルのウェディングケーキに込めて
  .cake__name
    .cake__name__1
      Remon cake
    .cake__name__2
      Drop cake
    .cake__name__3
      Flower cake
  .cake__photo
    .resizeimage
      %img.photo__1{:alt => "photo-1", :src => "assets/cake-5.jpg"}/
  