#page
  .serchBox
    %select{:name => "tag"}
      %option{:value => ""} 人数の選択
      %option{:value => "fifty"} 50人くらい
      %option{:value => "ninety"} 90人くらい
    %select{:name => "dish"}
      %option{:value => ""} 料理の選択
      %option{:value => "like"} こだわりたい
      %option{:value => "dislike"} こだわらない
    %select{:name => "dress"}
      %option{:value => ""} ドレスの選択
      %option{:value => "like"} こだわりたい
      %option{:value => "dislike"} こだわらない
    %select{:name => "cake"}
      %option{:value => ""} ケーキの選択
      %option{:value => "like"} こだわりたい
      %option{:value => "dislike"} こだわらない
    %select{:name => "flower"}
      %option{:value => ""} 装花の選択
      %option{:value => "like"} こだわりたい
      %option{:value => "dislike"} こだわらない
    %button#search 検索
  %ul.list
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.like
      %p.dress
        %span.like
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.like 130万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.dislike
      %p.dress
        %span.dislike
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.dislike 88万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.like
      %p.dress
        %span.dislike
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.dislike 113万
  
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.like
      %p.dress
        %span.like
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.dislike 118万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.like
      %p.dress
        %span.like
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.dislike 123万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.dislike
      %p.dress
        %span.like
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.dislike 93万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.dislike
      %p.dress
        %span.like
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.dislike 98万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.dislike
      %p.dress
        %span.like
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.like 105万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.dislike
      %p.dress
        %span.dislike
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.dislike 93万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.dislike
      %p.dress
        %span.dislike
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.like 100万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.dislike
      %p.dress
        %span.dislike
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.like 95万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.like
      %p.dress
        %span.dislike
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.dislike 118万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.dislike
      %p.dress
        %span.like
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.like 100万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.like
      %p.dress
        %span.dislike
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.like 120万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.like
      %p.dress
        %span.like
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.like 125万
    %li
      %p.tag
        %span.fifty
      %p.dish
        %span.like
      %p.dress
        %span.dislike
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.like 125万
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.like
      %p.dress
        %span.like
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.like 210万
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.dislike
      %p.dress
        %span.dislike
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.dislike 148万
  
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.like
      %p.dress
        %span.dislike
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.dislike 193万
  
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.like
      %p.dress
        %span.like
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.dislike 198万
  
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.like
      %p.dress
        %span.like
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.dislike 203万
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.dislike
      %p.dress
        %span.like
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.dislike 153万
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.dislike
      %p.dress
        %span.like
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.dislike 158万
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.dislike
      %p.dress
        %span.like
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.like 165万
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.dislike
      %p.dress
        %span.dislike
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.dislike 153万
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.dislike
      %p.dress
        %span.dislike
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.like 160万
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.dislike
      %p.dress
        %span.dislike
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.like 155万
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.like
      %p.dress
        %span.dislike
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.dislike 198万
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.dislike
      %p.dress
        %span.like
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.like 160万
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.like
      %p.dress
        %span.dislike
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.like 200万
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.like
      %p.dress
        %span.like
      %p.cake
        %span.dislike
      %p.flower
        費用:
        %span.like 205万
    %li
      %p.tag
        %span.ninety
      %p.dish
        %span.like
      %p.dress
        %span.dislike
      %p.cake
        %span.like
      %p.flower
        費用:
        %span.like 205万
