.dish
  .dish__picture
  .dish__title
    .dish__title__message
      大切な日をより輝かせるための婚礼料理を目指して... 
      .dish__title__message__text
        全国・世界各地から仕入れられた厳選素材。素材本来の味を活かす料理人の技。
        %br
        婚礼料理には、新郎新婦とゲストの忘れられない時間を演出するための、こだわりが詰まっています。
  .dish__text
    .dish__text__title
      Cuisine
      .dish__text__title__message
        来ていただいたゲストに
        %br
        和も洋も味わえるコースをご用意しております
    .dish__text__description
      お客さまの多様な好みを満足させられるよう
      %br
      各コースにお造りやご飯ものなど
      %br
      和も洋も味わえるコースを取り入れました。
  .dish__photo
  .dish__maru
  .dish__two__fish
    .dish__two__fish__title
      Course menu
      .dish__two__fish__title__text
        大切なゲストへのおもてなしのお料理では
        %br
        和も洋も味わえるコースをご用意しております
    .dish__two__fish__message
      お客さまの多様な好みを満足させられるよう
      %br
      各コースにお造りやご飯ものなど
      %br
      和も洋も味わえるコースを取り入れました。
  