.dish
  .dish__picture
  .dish__title
    .dish__title__message
      一生に一度の披露宴に忘れられない日をお届けするような婚礼料理を...
      .dish__title__message__text
        素材本来の味を活かす料理人の腕と、全国・世界各地から仕入れられた最高の食材。
        %br
        新郎新婦とゲストの忘れられない時間を演出するための、こだわりが詰まっています。
  .dish__text
    .dish__text__title
      Cuisine
      .dish__text__title__message
        全国から選び抜いた最高の食材をゲストにお届けする
        %br
        ゲストの皆様が笑顔になって頂ける
        %br
        幸せな1日をスタートさせるお料理に
    .dish__text__description
      美味しさだけでは終わらない、ゲストが驚くような様々な料理演出
      %br
      これもゲストに喜んでいただくためのこだわりの一つです。
  .dish__photo
  .dish__maru
  .dish__two__fish
    .dish__two__fish__title
      Course menu
      .dish__two__fish__title__text
        来ていただいたゲストの皆様に
        %br
        どこの式場、ホテルでも味わうことのできない
        %br
        コースをご用意しております
    .dish__two__fish__message
      お客さま一人一人の多様な好みを満足させられるよう
      %br
      各コースにお造りを取り入れるなど
      %br
      和も洋も味わえるコースを取り入れております。
  