.message
  新郎新婦のイメージにあった会場を
  .message__text
    クラシックなムードや清楚で上質な白を演出した空間など様々あります
    
.weddinghall__name
  %br/
  %img.main__img.no1{:alt => "party-1", :src => "assets/party-1.jpg"}/
  hall
  %br/
  %img.main__img.no2{:alt => "party-2", :src => "assets/party-2.jpg"}/
  hall
  %br/
  %img.main__img.no3{:alt => "party-3", :src => "assets/party-3.jpg"}/
  hall
  %br/
  %img.main__img.no4{:alt => "party-4", :src => "assets/party-4.jpg"}/
  hall
  %br/
.weddinghall__text
  フラワークリスタルホール