.message
  新郎新婦のイメージにあった会場を
  .message__text
    クラシックなムードや清楚で上質な白を演出した空間など様々あります
    %br
    どの会場にも華やかさとクラシックなムードを併せ持ち
    %br
    ゲストに気品のあるくつろぎの時間をもたらします。
    
.weddinghall__name
  %br/
  %img.main__img.no1{:alt => "party-1", :src => "assets/party-1.jpg"}/
  ホリズン ホール
  %br/
  %img.main__img.no2{:alt => "party-2", :src => "assets/party-2.jpg"}/
  ウォールマリア ホール
  %br/
  %img.main__img.no3{:alt => "party-3", :src => "assets/party-3.jpg"}/
  サラン ホール
  %br/
  %img.main__img.no4{:alt => "party-4", :src => "assets/party-4.jpg"}/
  スカイ ホール
  %br/
.weddinghall__text
  クラシックなムードや清楚で上質な白を演出した空間など様々あります
  %br
  どの会場にも華やかさとクラシックなムードを併せ持ち
  %br
  ゲストに気品のあるくつろぎの時間をもたらします。
    