.message
  新郎新婦のイメージにあった会場を
  .message__text
    クラシックなムードや清楚で上質な白を演出した空間など様々あります
    %br
    どの会場にも華やかさとクラシックなムードを併せ持ち
    %br
    ゲストに気品のあるくつろぎの時間をもたらします。
    
.weddinghall
  %img.weddinghall__img__no1{:alt => "party-1", :src => "assets/party-1.jpg"}/
  %img.weddinghall__img__no2{:alt => "party-2", :src => "assets/party-2.jpg"}/
  %img.weddinghall__img__no3{:alt => "party-3", :src => "assets/party-3.jpg"}/
  %img.weddinghall__img__no4{:alt => "party-4", :src => "assets/party-4.jpg"}/