.plan
  .plan__box
    .plan__box__title
      6月限定のお得梅雨プラン
    .plan__box__text
      特典：★2着目ドレスが20万円分プレゼント
    .plan__box__photo
    .plan__box__show
      人数 / 料金 : 50名様 / 189万4746円
      %br
      挙式期間 : 2020年6月まで
      %br
      適用人数 : 50名〜80名
    .plan__box__btn
      .plan__box__btn__text
        詳細をみる →