.main
  .header
    .left-header
      %h3.left-header__title
        WEDDING PAGE
    %ul.right-header
      %li.right-header__title
        = link_to edit_user_path(current_user.id) do
          EDIT
.hall
  .hall__name
    < Wedding大阪 >
  .hall__photo

  .hall__place
    ｜ 専門式場 / 大阪府 ｜ 収容人数：20 ~ 120人
  .hall__link
    = link_to halls_path() do
      HPをみる

.hall-1
  .hall-1__name
    < wedding難波 >
  .hall-1__photo

  .hall-1__place
    ｜ ホテル / 大阪府 ｜ 収容人数：80 ~ 200人
  .hall-1__link
    = link_to halls_path() do
      HPをみる