.cake__space{
  height: 200px;
}
.cake__title{
  color: #6b4f35;
  font-size: 50px;
  font-family: cursive;
  text-align: center;
  margin-bottom: 20px;
  .cake__title__text{
    text-align: center;
    margin-top: 20px;
    color: #6b4f35;
    font-size: 20px;
    font-family: 'YakuHanMP', YuMincho, "游明朝","ＭＳ Ｐ明朝","MS PMincho", serif;
  }
}
.cake__name{
  display: flex;
  justify-content: space-around;
  &__1{
    font-family: 'YakuHanMP', YuMincho, "游明朝","ＭＳ Ｐ明朝","MS PMincho", serif;
  }
  &__2{
    font-family: 'YakuHanMP', YuMincho, "游明朝","ＭＳ Ｐ明朝","MS PMincho", serif;
  }
  &__3{
    font-family: 'YakuHanMP', YuMincho, "游明朝","ＭＳ Ｐ明朝","MS PMincho", serif;
  }
}
.resizeimage img { width: 100%; }
