* {
  box-sizing: border-box;
}

.dish{
  &__picture{
    background-image: image-url("wedding-8.jpg");
    height: 300px;
    
  }
  &__title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 100%;
    background: #fff6fe;
    -webkit-font-smoothing: antialiased;
    &__message{
      color: #6b4f35;
      font-size: 30px;
      font-family: 'YakuHanMP', YuMincho, "游明朝","ＭＳ Ｐ明朝","MS PMincho", serif;
      &__text{
        margin-top: 20px;
        color: #6b4f35;
        font-size: 20px;
        font-family: 'YakuHanMP', YuMincho, "游明朝","ＭＳ Ｐ明朝","MS PMincho", serif;
      }
    }
  }
  &__text{
    font-family: 'IM Fell Double Pica SC', serif;
    color: #6b4f35;
    margin-left: 60px;
    float: left;
    &__title{
      font-size: 60px;
      margin-bottom: 20px;
      &__message{
        font-size: 23px;
      }
    }
    &__description{
      font-size: 16px;
    }
  }
  &__photo{
  
  }
  &__maru{
    height: 300px;
    width: 600px;
    background-image: image-url("dish-5.jpg");
    margin: 15px 0 0 700px ;
  }
  &__two__fish{
    font-family: 'IM Fell Double Pica SC', serif;
    color: #6b4f35;
    margin: 50px 100px 0 0;
    float: right;
    text-align: center;
<<<<<<< Updated upstream
=======
    font-family: 'YakuHanMP', YuMincho, "游明朝","ＭＳ Ｐ明朝","MS PMincho", serif;
>>>>>>> Stashed changes
    &__title{
      font-size: 60px;
      margin-bottom: 20px;
      &__text{
        font-size: 23px;
      }
    }
    &__message{
      font-size: 16px;
    }
  }
  .dishphoto {
    position: relative;
    overflow: hidden;
    height: 100vh;
    box-sizing: border-box;
    font-size: 0 !important;
    line-height: 0;
  }
  .dishphoto__img {
    display: block;
    width: 700px;
    height: 500px;
    margin: auto;
    font-size: 0 !important;
    line-height: 0;
    display: block;
  }
  .dishphoto__img.no1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
   
    // アニメーションプロパティ
    animation-name: changeMainImage;
    animation-duration: 28s;
    animation-iteration-count: infinite;
  }
  .dishphoto__img.no2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
   
    // アニメーションプロパティ
    // 2枚目以降はanimation-delayを設定して
    // アニメーション開始タイミングを遅らせる
    animation-name: changeMainImage;
    animation-delay: 6.5s;
    animation-duration: 28s;
    animation-iteration-count: infinite;
  }
  .dishphoto__img.no3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
   
    // アニメーションプロパティ
    animation-name: changeMainImage;
    animation-delay: 13s;
    animation-duration: 28s;
    animation-iteration-count: infinite;
  }
  .dishphoto__img.no4 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
   
    // アニメーションプロパティ
    // ラストの画像はchangeMainImageLastという他と違うアニメーション
    // 表示をいい感じにするために
    // ブラウザでタイミングを見ながら微調整して作成したため
    animation-name: changeMainImageLast;
    animation-delay: 19.5s;
    animation-duration: 28s;
    animation-iteration-count: infinite;
  }
  
  /* keyframes */
  @keyframes changeMainImage {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 0.3;
    }
    33% {
      opacity: 0.1;
    }
    35% {
      opacity: 0;
    }
  }
  @keyframes changeMainImageLast {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
  }
  
}