* {
  box-sizing: border-box;
}

.hall{
  overflow: auto;
  .hall__name{
    margin: 50px 0 5px 150px;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    color: rgba(0, 174, 255, 0.507);
  }
  .hall__image{
    height: 300px;
    width: 1000px;
    margin: auto;
    
  }
  .hall__place{
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
  }
  
  .hall__link{
    text-align: center;
    a{
      color: rgb(66, 83, 238);
    }
  }
}

.hall-1{
  overflow: auto;
  .hall-1__name{
    margin: 50px 0 5px 150px;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    color: rgba(0, 174, 255, 0.507);
  }
  .hall-1__photo{
    height: 300px;
    width: 1000px;
    margin: auto;
    
  }
  .hall-1__place{
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
  }
  
  .hall-1__link{
    text-align: center;
    a{
      color: rgb(66, 83, 238);
    }
  }
}
