* {
  box-sizing: border-box;
}
.header{
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  .left-header{
    &__title{
      margin-left: 60px;
      line-height: 60px;
      font-size: 29px;
      display: inline-block;
      color: rgba(17, 17, 17, 0.582);
      font-family: cursive;
    }
  }
  .right-header{
    padding: 0px 20px;
    box-sizing: border-box;
    margin: 15px 40px 15px 0px;
    font-size: 20px;  
    &__title{
      a{
        text-decoration: none;
        padding: 5px 5px;
        border: 1px solid rgb(100, 99, 99);
        color: rgba(27, 27, 27, 0.794);
      }  
    }
  }
}