* {
  box-sizing: border-box;
}

.choice{
  height: 50px;
  .hall{
    height: 50px;
    width: 300px;
    text-align: center;
    line-height: 50px;
    border: 1px solid;
    color: grey;
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
    border-width: 0 1px 0 1px;
    background-color:  rgb(255, 221, 227);
    float: left;

  }
  .dish{
    height: 50px;
    width: 285px;
    text-align: center;
    line-height: 50px;
    color: grey;
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
    background-color:  rgb(255, 221, 227);
    float: left;
  }
  .plan{
    height: 50px;
    width: 285px;
    text-align: center;
    color: grey;
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
    border: 1px solid;
    background-color: rgb(255, 221, 227);
    border-width: 0 1px 0 1px;
    line-height: 50px;
    float: left;
  }
  .cake{
    height: 50px;
    width: 285px;
    text-align: center;
    line-height: 50px;
    color: grey;
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
    background-color: rgb(255, 221, 227);
    float: left;
  }
  .cost{
    height: 50px;
    width: 285px;
    text-align: center;
    line-height: 50px;
    color: grey;
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
    border: 1px solid;
    border-width: 0 1px 0 1px;
    background-color:  rgb(255, 221, 227);
    float: left;
  }

}
.slider {
  height: 100vh;
  font-size: 30px;
  color: gray;
  font-family: sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vw);
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
}
.one{
  background-image: image-url("wedding-photo.jpg");
  border-right: 1px solid white;
  padding: 1rem;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  
  
}
.two{
  border-right: 1px solid white;
  padding: 1rem;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-color: rgb(192, 230, 27);
}
.three{
  border-right: 1px solid white;
  padding: 1rem;
  height: 100vh;
  min-width: 100vw;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-color: pink;
}
.four{
  border-right: 1px solid white;
  padding: 1rem;
  height: 100vh;
  min-width: 100vw;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-color: rgb(20, 160, 32);
}
.five{
  border-right: 1px solid white;
  padding: 1rem;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-color: rgb(252, 14, 14);
}
h1  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}
