* {
  box-sizing: border-box;
}

.choice{
  height: 50px;
  .hall{
    height: 50px;
    width: 300px;
    text-align: center;
    line-height: 50px;
    border: 1px solid;
    color: grey;
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
    border-width: 0 1px 0 1px;
    background-color:  rgb(255, 221, 227);
    float: left;

  }
  .dish{
    height: 50px;
    width: 285px;
    text-align: center;
    line-height: 50px;
    color: grey;
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
    background-color:  rgb(255, 221, 227);
    float: left;
  }
  .plan{
    height: 50px;
    width: 285px;
    text-align: center;
    color: grey;
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
    border: 1px solid;
    background-color: rgb(255, 221, 227);
    border-width: 0 1px 0 1px;
    line-height: 50px;
    float: left;
  }
  .cake{
    height: 50px;
    width: 285px;
    text-align: center;
    line-height: 50px;
    color: grey;
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
    background-color: rgb(255, 221, 227);
    float: left;
  }
  .cost{
    height: 50px;
    width: 285px;
    text-align: center;
    line-height: 50px;
    color: grey;
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
    border: 1px solid;
    border-width: 0 1px 0 1px;
    background-color:  rgb(255, 221, 227);
    float: left;
  }

}
.slider {
  height: 100vh;
  font-size: 30px;
  color: gray;
  font-family: sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vw);
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
}
.one{
  background-image: image-url("wedding-photo.jpg");
  border-right: 1px solid white;
  padding: 1rem;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  
  
}
.two{
  border-right: 1px solid white;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  background-color: rgb(255, 255, 255);
}
.three{
  border-right: 1px solid white;
  padding: 1rem;
  height: 100vh;
  min-width: 100vw;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-color: pink;
}
.four{
  border-right: 1px solid white;
  padding: 1rem;
  height: 100vh;
  min-width: 100vw;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-color: rgb(20, 160, 32);
}
.five{
  border-right: 1px solid white;
  padding: 1rem;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  font-size: 20px;
  background-image: image-url("wedding-5.jpg");
  
}
h1  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}
.search-box{
  margin-bottom: 15px;
  .search-box_label {
    font-weight: bold;

  }
}

#search{
  width:70px;
  height:50px;
  position:absolute;
  margin-left: 50px;
  cursor: pointer;
  border-radius:0 2px 2px 0;
  background:#7fbfff;/*検索ボタンの背景カラー*/ 
  border:none;/*検索ボタンの枠線を消す*/
  color:#fff;/*検索ボタンのテキストカラー*/ 
  font-weight:bold;/*検索ボタンのテキスト太字*/ 
  font-size:16px;/*検索ボタンのフォントサイズ*/ 
  }
  /*検索ボタンマウスオーバー時*/
  #search:hover{
  color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
  }
.title{
  font-size: 30px;
  font-family: 'YakuHanMP', YuMincho, "游明朝","ＭＳ Ｐ明朝","MS PMincho", serif;
  margin-top: 20px;
  height: 100px;
  &__text{
    font-size: 15px;
    margin-top: 55px;
  }
}

.serchBox {
  width: 400px;
  margin: 2em auto;
  text-align: center;
}
.serchBox select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.serchBox select::-ms-expand {
    display: none;
}
.serchBox.cp_sl04 {
  position: relative;
  border-radius: 2px;
  border: 2px solid #da3c41;
  border-radius: 50px;
  background: #ffffff;
}
.serchBox.cp_sl04::before {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #da3c41;
  pointer-events: none;
}
.serchBox.cp_sl04 select {
  padding: 8px 38px 8px 8px;
  color: #da3c41;
}
.flower{
  font-size: 30px;
  font-family: 'YakuHanMP', YuMincho, "游明朝","ＭＳ Ｐ明朝","MS PMincho", serif;
  color: #666;
  text-decoration:underline;
  text-decoration-color:rgb(250, 188, 188);


}
